
/** Colors */
$color-white: #fff;
$color-black: #000;
$color-red: #f8566a;

$color-gray: #666;
$color-silver: #dddddd;
$color-silver-light: #eeeeee;

/** Fonts */

$font-title:        'Financier Display', serif;
$font-main:         'Chronicle Display A', serif;

/** CSS VARS **/

:root {

}
