
/** Colors */
$color-white: #fff;
$color-black: #000;
$color-red: #bf2139;

$color-gray: #666;
$color-silver: #dddddd;
$color-silver-light: #eeeeee;

/** Fonts */

$font-title:        'FD_Bold', serif;
$font-main:         'FD_Bold', serif;

/** CSS VARS **/

:root {

}
