@import "init/init";
@import "reset";

@import "base";

@import "footer";

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

main p {
  position: relative;
  top: -5em;
  font-size: 4vmin;
  text-align: center;
  margin: 40px;
}