@import "init/init";
@import "reset";

@import "base";

@import "footer";

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.circle {
  background: $color-black;
  height: 20em;
  width: 20em;
  border-radius: 50%;
  position: fixed;
  top: 90vh;
  left: -8vw;
  transition-duration: 2s;
  z-index: 10;
  cursor: pointer;
}

.circle-full {
  position: absolute;
  top: -100vh;
  left: -50vw;
  width: 200vw;
  height: 300vh;
}

