---
layout: "main"
---

{% block head %}
{% endblock %}


{% block main %}
  <div class="wrapper">
    <main id="o" class="center-parent">      
      <h1><span>O</span>blac</h1>
      <h2>ideas? <span class="highlighted" id="u">done!</span></h2>
      <h3><a href="https://igo.rs/contact" target="_blank" rel="noopener">let's work together<em>.</em><span class="dot"></span></a></h3>      
    </main>
  </div>
{% endblock %}


{% block script %}
{% endblock %}
