---
layout: "main"
---

{% block head %}
{% endblock %}


{% block main %}
  <div class="wrapper">
    <main id="o" class="center-parent">      
      <h1><span>O</span>blac</h1>
      <h2>ideas? <span class="highlighted" id="u">done!</span></h2>
      <h3><a href="https://igo.rs/contact" target="_blank" rel="noopener">let's work together<em>.</em><span class="dot"></span></a></h3>
      <p>
        20+ years of software <b>craftsmanship</b>.<br>
        We develop <b>product</b> values, not dogmas.<br>
        As a <b>partner</b>, not a vendor.<br>
        Brutally <b>honest</b>, no bullsh*t.<br>
      </p>
    </main>
  </div>
{% endblock %}


{% block script %}
{% endblock %}
