---
layout: "main"
---

{% block head %}
{% endblock %}


{% block main %}
  <div class="wrapper">
    <main id="o" class="center-parent">
      <h1><span>O</span>blac</h1>
    </main>
  </div>
{% endblock %}


{% block script %}
{% endblock %}
